

.OptComponent{
    // font-size/: 30px;
    display: flex;
    flex-direction: row;
    // z-index: -100;

}

.selectOpt {
    width: 100%;
    box-sizing: border-box;
    margin:0 13px;
    // z-index: -100;
}

